process.executor = 'awsbatch'

process.queue = 'zb4171-kazoo-queue'

aws.region = 'ap-southeast-1'

aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.batch.maxParallelTransfers = 8
aws.client.maxConnections = 4

workDir = 's3://zb4171/kazoo/workDir_differentialabundances/'

aws {
    accessKey = '##################'
    secretKey = ''##################''
}

docker.enabled = true
docker.userEmulation = true
process.container = 'docker.io/trombae/zb4171-kazoo:latest'
process.containerOptions = '--memory-swap 5120 --memory-swappiness 10'
