process.executor = 'awsbatch'

// Default queue
process.queue = 'zb4171-kazoo-queue-500ebs'

// Alternative queue
// process.queue = 'zb4171-kazoo-queue-500ebs-v2'

aws.region = 'ap-southeast-1'

aws.batch.cliPath = '/home/ec2-user/miniconda3/bin/aws'
aws.batch.maxParallelTransfers = 8
aws.client.maxConnections = 4

workDir = 's3://zb4171/kazoo/nextflowWorkDir/SAMPLEID/'

aws {
    accessKey = ################
    secretKey = ################
}

docker.enabled = true
docker.userEmulation = true

// For single-end reads
// process.container = 'docker.io/yusongc/zb4171-kazoo:latest_v4'

// For paired-end reads
process.container = 'docker.io/trombae/zb4171-kazoo:latest_v2'

process.containerOptions = '--memory-swap 10240 --memory-swappiness 10'

// custom config
process {
    withName: 'SAMPLESHEET_CHECK' {
      queue = 'zb4171-kazoo-queue-500ebs'
      maxForks = 1
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: 'GTF2BED' {
      queue = 'zb4171-kazoo-queue-500ebs'
      maxForks = 1
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: 'CAT_ADDITIONAL_FASTA|PREPROCESS_TRANSCRIPTS_FASTA_GENCODE' {
      queue = 'zb4171-kazoo-queue-500ebs'
      maxForks = 1
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: 'CUSTOM_GETCHROMSIZES' {
      queue = 'zb4171-kazoo-queue-500ebs'
      maxForks = 1
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: 'FQ_SUBSAMPLE' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
      queue = {"${task.submitAttempt==1 ? 'zb4171-kazoo-queue-500ebs' : 'zb4171-kazoo-queue-500ebs-v2'}"}
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTP' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3    
    }
    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_TRIM' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_RAW' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    
    withName: '.*:QUANTIFY_RSEM:RSEM_CALCULATEEXPRESSION' {
      queue = {"${task.submitAttempt==1 ? 'zb4171-kazoo-queue-500ebs' : 'zb4171-kazoo-queue-500ebs-v2'}"}
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: '.*:QUANTIFY_RSEM:RSEM_MERGE_COUNTS' {
      queue = {"${task.submitAttempt==1 ? 'zb4171-kazoo-queue-500ebs' : 'zb4171-kazoo-queue-500ebs-v2'}"}
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:.*:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }

    withName: '.*:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
      queue = {"${task.submitAttempt==1 ? 'zb4171-kazoo-queue-500ebs' : 'zb4171-kazoo-queue-500ebs-v2'}"}
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: '.*:BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 1
    }
    withName: '.*:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:.*' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3   
      maxForks = 2
    }

    withName: 'BEDTOOLS_GENOMECOV' {          
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 1
    }

    withName: 'STRINGTIE_STRINGTIE' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 1
    }
    
    withName: 'DUPRADAR' {
      queue = {"${task.submitAttempt==1 ? 'zb4171-kazoo-queue-500ebs' : 'zb4171-kazoo-queue-500ebs-v2'}"}
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: 'QUALIMAP_RNASEQ' {
      queue = {"${task.submitAttempt==1 ? 'zb4171-kazoo-queue-500ebs' : 'zb4171-kazoo-queue-500ebs-v2'}"}
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: '.*:BAM_RSEQC:RSEQC_JUNCTIONSATURATION' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }
    withName: '.*:BAM_RSEQC:RSEQC_READDISTRIBUTION' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }
    withName: '.*:BAM_RSEQC:RSEQC_INNERDISTANCE' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }
    withName: '.*:BAM_RSEQC:RSEQC_INFEREXPERIMENT' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }
    withName: '.*:BAM_RSEQC:RSEQC_BAMSTAT' {
      queue = 'zb4171-kazoo-queue-500ebs-v2'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }
    withName: '.*:BAM_RSEQC:RSEQC_JUNCTIONANNOTATION' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }
    withName: '.*:BAM_RSEQC:RSEQC_READDUPLICATION' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
      maxForks = 2
    }

    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }
    withName: '.*:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }

    withName: 'MULTIQC' {
      queue = 'zb4171-kazoo-queue-500ebs'
      errorStrategy = 'retry'
      maxRetries = 3
    }
}
