process.executor = 'awsbatch'

// Default queue
process.queue = 'zb4171-kazoo-queue-500ebs'

// Alternative 
// process.queue = 'zb4171-kazoo-queue-500ebs-v2'

aws.region = 'ap-southeast-1'

aws.batch.cliPath = '/home/ec2-user/miniconda3/bin/aws'
aws.batch.maxParallelTransfers = 8
aws.client.maxConnections = 4

workDir = 's3://zb4171/kazoo/nextflowWorkDir/SAMPLEID/'

aws {
    accessKey = ################
    secretKey = ################
}

docker.enabled = true
docker.userEmulation = true

// For single-end reads
// process.container = 'docker.io/yusongc/zb4171-kazoo:latest_v4'

// For paired-end reads
process.container = 'docker.io/trombae/zb4171-kazoo:latest_v2'

process.containerOptions = '--memory-swap 10240 --memory-swappiness 10'
